body{
	margin: 0;
}
.one, .two, .three, .four, .five , .six, .seven{
	height: 100vh;
}
.one{
	background-color: red;
}

.two{
	background-color: blue;
}

.three{
	background-color: orange;
}

.four{
	background-color: yellow;
}

.five{
	background-color: pink;
}

.six{
	background-color: black;
}

.seven{
	background-color: white;
}

