


#ageVerification, #wrapper, #failedAge{
	position:fixed; height:100%; width:100%; overflow:hidden; top:0; left:0;
	background-color: rgba(0,0,0,.8);
	vertical-align: middle;
	text-align: center;
	color: white;
}
#ageVerification h1{
	padding-top: 25%;
}