

.arrow_container h1{
	display:inline-block; 
}
.bounce{
	
}
.arrow_container .animated{
	
	cursor: pointer;
	
	-webkit-animation: wiggle 1s 1 linear;
}

@-webkit-keyframes wiggle{
	
	10%{transform: rotate(40deg);}
	20%{transform: rotate(-40deg);}
	30%{transform: rotate(40deg);}
	40%{transform: rotate(-40deg);}
	50%{transform: rotate(30deg);}
	60%{transform: rotate(-30deg);}
	70%{transform: rotate(20deg);}
	80%{transform: rotate(-20deg);}
	90%{transform: rotate(10deg);}
	10%{transform: rotate(-10deg);}

}