body {
  background: blue;
  padding: 0;
  overflow: hidden;
	height: 500px;
  margin: 0;
}

.container {
  width: 100vw;
  position: relative;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
}

/* Clouds */


#clouds2 {
  position: relative;
  -webkit-animation: backup 14s infinite linear;
  -moz-animation: backup 14s infinite linear;
  -ms-animation: backup 14s infinite linear;
  z-index: 2;
}

.cloud1 {
  width: 200px;
  height: 60px;
  background: white;
  position: absolute;
  top: 80px;
  
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  
}

.cloud1:after {
  content: '';
  position: absolute;
  background: white;
  width: 80px;
  height: 80px;
  top: -40px;
  left: 20px;
  
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;

}

.cloud1:before {
  content: '';
  position: absolute;
  background: white;
  width: 100px;
  height: 100px;
  top: -60px;
  right: 30px;
  
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
}

.cloud2 {
  width: 100px;
  height: 30px;
  background: white;
  position: absolute;
  top: 180px;
  left: 400px;
  
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
}

.cloud2:after {
  content: '';
  position: absolute;
  background: white;
  width: 40px;
  height: 40px;
  top: -20px;
  left: 10px;
  
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
}

.cloud2:before {
  content: '';
  position: absolute;
  background: white;
  width: 50px;
  height: 50px;
  top: -30px;
  right: 15px;
  
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;

}

.cloud3 {
  width: 200px;
  height: 60px;
  background: white;
  position: absolute;
  top: 100px;
  left: 740px;
  
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
}

.cloud3:after {
  content: '';
  position: absolute;
  background: white;
  width: 80px;
  height: 80px;
  top: -40px;
  left: 20px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
}

.cloud3:before {
  content: '';
  position: absolute;
  background: white;
  width: 100px;
  height: 100px;
  top: -60px;
  right: 30px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
}



@-webkit-keyframes backup {
	0%{	 transform: translate(-940px,0px);}
	100%{ transform: translate(100vw ,0px);}
/*  0% {left: -940px;}
  100% {left: 100vw;}  
*/
}  

@-moz-keyframes backup {
  0%{	 transform: translate(-940px,0px);}
	100%{ transform: translate(100vw ,0px);}

}  


@-ms-keyframes backup {
0%{	 transform: translate(-940px,0px);}
	100%{ transform: translate(100vw ,0px);} 

}  

